<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>951434807084-l8bn3mok579adf50d3ckmjnjusjkj5rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951434807084-l8bn3mok579adf50d3ckmjnjusjkj5rf</string>
	<key>API_KEY</key>
	<string>AIzaSyCM-btP7BlDFYN5Vc3N-Of8LASiRUlBQ2I</string>
	<key>GCM_SENDER_ID</key>
	<string>951434807084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.flokk.whattheflokk</string>
	<key>PROJECT_ID</key>
	<string>flokk-a422c</string>
	<key>STORAGE_BUCKET</key>
	<string>flokk-a422c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:951434807084:ios:a1520b2dbd6a2257</string>
	<key>DATABASE_URL</key>
	<string>https://flokk-a422c.firebaseio.com</string>
</dict>
</plist>